@use '../abstracts' as *;

.header {
    grid-column: 1 / -1;
    height: max-content;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    padding: 10rem 2rem 0;

    // &--front-page {
    //     height: 100vh;
    // }

    @include respond(screen_900) {
        height: max-content;

        &--front-page {
            height: 100vh;
        }

    }

    &__content {
        color: $color-gray-d;
        text-align: center;
        display: grid;
        row-gap: 7rem;
        max-width: 120rem;
        z-index: 20;

        @include respond(screen_767) {
            padding: 0 1.5rem;
        }

    }

    &__logo {
        margin: 0 auto;
        width: 30rem;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1rem; 
        color: $color-red-d;
    }

    &__subtitle {        
        font-size: 3.6rem;
        // padding: 0 2rem 4rem;

        @include respond(screen_767) {
            font-size: 3rem;
        }

    }

    &__dates {
        font-size: 2.6rem;
    }

    &__text {
        max-width: 85rem;
        margin: 0 auto;
        text-align: left;
    }

}