@use '../abstracts' as *;

.tma-list {
    list-style-type: none;
}

.tma-list__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1.5rem;

    &::before {
        content: '';        
        width: 5rem;
        height: 5rem;
        // background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    &--garlic {
        &::before {
            background-image: url(#{$illustration-path}garlic-red.svg);
        }
    }

    &--pencil-brush {
        &::before {
            background-image: url(#{$illustration-path}pencil-brush-red.svg);
        }
    }

}