@use '../abstracts' as *;

.container {

    .nf-before-form-content {
        margin-bottom: 4rem;
    }

    .nf-form-content {

        label {
            font-size: 1.8rem;
        }

        hr.ninja-forms-field {
            margin: 3rem 0;
        }

    }

    .nf-field-label {

        label,
        span {
            color: $color-red-d;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
        
    }

    &.hr-container {
        margin: 5rem 0;
    }
    
    

    .nf-form-content {

        input[type=submit] {
            cursor: pointer;
            padding: 0 3rem;
            @include button();
        }

    }

    .checkbox-container {
        
    
        &.label-right label {

            &::before {
                top: -5px;
            }

            &::before,
            &::after {
                cursor: pointer;
            }

        }
        
    }
    

    .nf-error-msg,
    .nf-error .nf-error-msg {
            color: $color-red-l;
    }

    .nf-form-fields-required {
        display: none;
    }
    
    
}

