@use '../abstracts' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(screen_767) {
        font-size: 50%;
    }

    @media print {
        font-size: 50%;
    }

}

.container {
    background-color: $color-white;
    background-image: url(#{$icon-path}/background.svg);
    width: 100%;
    font-weight: 300;
    letter-spacing: .05em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: [margin-left-start] 5rem [margin-left-end content-start] 1fr [content-end margin-right-start] 5rem [margin-right-end];
    row-gap: 10rem;
    position: relative;

    @include respond(screen_500) {
        grid-template-columns: [margin-left-start] 2rem [margin-left-end content-start] 1fr [content-end margin-right-start] 2rem [margin-right-end];
    }

}

.main {
    display: contents;
}

img {
    width: 100%;
    height: auto;
}