.tma-form {

    input[type="text"] {
        
    }

}

.media-upload {

    &__preview {
        background-size: cover;

        &.visible {
            width: 300px;
            height: 200px;
        }

    }

}